<div class="container-fluid">
	<div class="row">
			<div class="blog">
				{{# each data.posts.results}}
				<div class="col-md-4 blog-item">
					<a href="{{postUrl slug}}">
							{{#if image}}
							<img src="{{{imageUrl image}}}" class="img-responsive">
							{{/if}}
							<span class="title">{{{title}}}</span>
					</a>
				</div>
				{{/each}}
			</div>
		</div>

</div>
