    <article class="container-fluid article-fluid">
        <div class="container frame">
            <div class="article-div">
            	<h1 style="font-size: 20px; word-break: break-word; margin-bottom:50px">
            		By using our site and submitting information to our site you accept this Privacy Policy, our Cookies Policy and agree to abide by them. If you do not agree to this Privacy Policy, our Cookies Policy, please do not use our site or submit information to us via our site.
            	</h1>

                <h2 class="title-paragraph">
                    Privacy Policy
                </h2>
                <div class="paragraph">
            		This Privacy Policy describes the policies and procedures of NewsWall ("we", "our" or "us") on the collection, use and disclosure of your information on www.newswal.com (the "Site") and the services, features, content or applications we offer (collectively with the Site, the "Services"). We receive information about you from various sources, including: (i) if you register for the Site and the Services, through your user account on the Services (your "Account"); (ii) your use of the Services generally; and (iii) from third party websites and services. When you use the Services, you are consenting to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy.
                </div>
                <h2 class="title-paragraph">
                	What Does This Privacy Policy Cover?
                </h2>
                <div class="paragraph">
                	This Privacy Policy covers our treatment of personal information that we gather when you visit or use our Service. This Privacy Policy does not apply to the practices of third parties that we do not own or control, or to individuals that we do not employ or manage. The Service may contain links to third party websites that are not owned or controlled by us. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third party websites, such as Facebook ("Third Party Services") that you elect to access through the Service or to individuals that we do not manage or employ. While we attempt to facilitate access only to those Third Party Services that share our respect for your privacy, we cannot take responsibility for the content, privacy policies, or practices of those Third Party Services. We encourage you to carefully review the privacy policies of any Third Party Services you access.
                </div>
                <h2 class="title-paragraph">
                	Your personal information
                </h2>
                <div class="paragraph">
                	We are committed to protecting and respecting your privacy. Personal information collected during your visits to our site is processed by us in accordance with applicable data privacy and data protection legislation.
                	<br><br>
					We collect certain information about you when you visit our site, register to use our site and otherwise. We may collect and process the following information about you.
					<br><br>
					Information that you provide by filling in forms on our site. This includes information provided at the time of registering to use our site (if applicable), subscribing to any service provided by us, posting material on our site or requesting further services. We may also ask you for information when you enter any competition or promotion set up or sponsored by us and when you report a problem with our site
					<br><br>
					Details of your visits to our site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.
					<br><br>
					When you use our site we will track your use of our site by using cookies. By submitting your information to us (including, but not limited to, all personal information and User Content), you are agreeing to the processing of your information by us in accordance with this Privacy Policy and our Cookies Policy.

					<h3 class="title-segment">
						Account Information:
					</h3>
					When you create an Account, you will provide information, such as your username, password and email address. You acknowledge that this information may be personal to you, and by creating an Account on the Services and providing Personal Information to us, you allow others, including us, to identify you. If you access the Services through Facebook credentials, we may automatically collect certain information, such as your name, picture, and email address. We will use all information available through Facebook in accordance with Facebook's policies and your preferences selected through Facebook. We may use your contact information to send you information about our Services, when we feel such information is important.

					<h3 class="title-segment">
						User Content:
					</h3>
					Some features of the Services allow you to provide content to the Services, such as written comments. All content submitted by you to the Services may be retained by us indefinitely, even after you terminate your account. We may continue to disclose such content to third parties, as described in this Privacy Policy.

					<h3 class="title-segment">
						Information Collected Automatically
					</h3>
					We automatically receive and record information from your device or web browser when you interact with the Services. This information may include, your IP address, an ID that we may crate and associate with our content, cookie information, and other details. This information is used for fighting spam/malware, to facilitate collection of data concerning your interaction with the Services (e.g., what links you have clicked on and shared with others, including via email and social media), and to otherwise personalize, improve and continue to operate the Services.
					<br><br>
					Generally, the Services automatically collect usage information, such as the number and frequency of visitors to the Site or mobile application. We may use this data in aggregate form, that is, as a statistical measure. This type of aggregate data enables us and third parties authorized by us to figure out how often individuals use parts of the Services so that we can analyze and improve them.
					<br><br>
					When you visit the Site, we may also collect information about your online activities over time and across third-party websites or online services. Because there is not yet a consensus on how companies should respond to web browser-based or other do-not-track ("DNT") mechanisms, we do not respond to web browser-based DNT signals at this time.

					<h3 class="title-segment">
						Location Data:
					</h3>
					Some of our Services, such as mobile applications, may collect geo-location data to provide location-related functionality. We may link location data to other information we have collected about you. You may stop sharing your location data by adjusting your mobile device’s location services settings. For instruction on changing the relevant settings, please contact your service provider or device manufacturer.

					<h3 class="title-segment">
						Information Collected Using Cookies:
					</h3>
					Cookies are pieces of text that may be provided to your computer through your web browser when you access a website. Your browser stores cookies in a manner associated with each website you visit. We use cookies to enable our servers to recognize your web browser and tell us how and when you visit the Site, share our content, and otherwise use the Services through the Internet.
					<br><br>
					We may use cookies and other automated data collection means to identify that your web browser has accessed aspects of the Services and may associate that information with your Account if you have one, the device you use to connect to the Services, or email or social media accounts that you use to share our content.
					<br><br>
					Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways. We strongly recommend that you leave cookies active, because they enable you to take advantage the most attractive features of the Services.
					<br><br>
					This Privacy Policy covers our use of cookies only and does not cover the use of cookies by third parties. We do not control when or how third parties place cookies on your computer. For example, third party websites to which a link points may set cookies on your computer.

					<h3 class="title-segment">
						Information Related to Advertising and the Use of Web Beacons:
					</h3>
					To support and enhance the Services, we may serve advertisements, and also allow third parties advertisements, through the Services. These advertisements are sometimes targeted and served to particular users and may come from third party companies called "ad networks." Ad networks include third party ad servers, ad agencies, ad technology vendors and research firms. We may engage with ad networks that are members or organizations or programs that manage the advertising privacy choices these ad networks offer consumers.
					<br><br>
					When you visit our Site or use our mobile applications or other Services, ad networks and other parties may collect information about your online activities over time and across different websites. We are not responsible for the privacy practices of these ad networks and other parties.
					<br><br>
					Advertisements served through the Services may be targeted to users who fit a certain general profile category may be inferred from information provided to us by a user, may be based on the Services usage patterns of particular users, or may be based on your activity on Third Party Services. We do not provide Personal Information to any ad networks for use other than in connection with the Services.
					<br><br>
					To increase the effectiveness of ad delivery, we may deliver a file (known as a "web beacon") from an ad network to you through the Services. Web beacons allow ad networks to provide anonymized, aggregated auditing, research and reporting for us and for advertisers. Web beacons also enable ad networks to serve targeted advertisements to you when you visit other websites. Because your web browser must request these advertisements and web beacons from the ad network's servers, these companies can view, edit or set their own cookies, just as if you had requested a web page from their site.

					<h3 class="title-segment">
						Aggregate Information:
					</h3>
					We collect statistical information about how both unregistered and registered users, collectively, use the Services ("Aggregate Information"). Some of this information is derived from Personal Information.

					<h3 class="title-segment">
						Public Information about Your Activity on the Services:
					</h3>
					Some of your activity on and through the Services is public by default. This may include, but is not limited to, content you have posted or shared publicly on the Site or otherwise through the Services, such as written posts, comments, or other submissions by you to the Site.
					<br><br>
					Registered users may have some of this information associated with their Accounts. In addition, Information concerning the use of the Services (such as what pages they have visited) by unregistered users may be tracked through the use of cookies and other automated data collection means, and stored by us.
					<br><br>
					Please also remember that by choosing to provide Personal Information using certain public features of the Services, you make your information publicly available. User reading such information may use or disclose it to other individuals or entities without our control and without your knowledge, and search engines may index that information. We therefore urge you to think carefully about including any specific information you may deem private in content that you create or information that you submit through the Services.

					<h3 class="title-segment">
						IP Address Information:
					</h3>
					While we collect and store IP address information, that information is not made public. We do at times, however, share this information with our partners, service providers and other entities with whom we conduct business, and as otherwise specified in this Privacy Policy.

					<h3 class="title-segment">
						Information You Elect to Share:
					</h3>
					You may access other Third Party Services through the Services, for example by clicking on links to those Third Party Services from within the Site. We are not responsible for the privacy policies and practices of these Third Party Services, and you are responsible for reading and understanding those Third Party Services' privacy policies. This Privacy Policy only governs information we collect in connection with the Services.

					<h3 class="title-segment">
						Aggregate Information:
					</h3>
					We share Aggregate Information with our partners, service providers and other persons with whom we conduct business. We share this type of statistical data so that our partners can understand how and how often people use our Services and their services or websites, which facilitates improving both their services and how our Services interface with them. In addition, these third parties may share with us information about you that they have independently developed or acquired.

					<h3 class="title-segment">
						Email Communications with Us:
					</h3>
					As part of the Services, you may occasionally receive email and other communications from us, such as communications relating to your Account. Communications relating to your Account will be sent for purposes important to the Services, such as password recovery. We may use your email address to contact you for editorial purposes, to advise you of any changes to our Site, and to send you messages about our marketing partners' products. You may choose not to receive our marketing emails by clicking on the unsubscribe link in the emails you receive from us. Please note that even if you opt out, we may continue sending you service-related information.

					<h3 class="title-segment">
						User Profile Information:
					</h3>
					User profile information including your username and other information you enter may be displayed to other users to facilitate user interaction within the Services. We will not reveal user email addresses to other users of the Site.

					<h3 class="title-segment">
						Information Shared with Our Service Providers:
					</h3>
					We employ and contract with service providers - individuals and entities that perform certain tasks on our behalf. We may need to share Personal Information with our service providers in order to provide products or services to you. We do not authorize our service providers to use Personal Information or other information we share with them beyond what is necessary to assist us.

					<h3 class="title-segment">
						Information Disclosed Pursuant to Business Transfers:
					</h3>
					In some cases, we may choose to buy or sell assets. In these types of transactions, user information, including Personal Information, is typically one of the transferred business assets. Moreover, if we, or substantially all of our assets, were acquired, or if we go out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur. Following the transfer of user information in the circumstances described in this paragraph, all inquiries concerning the processing of user information should be directed to the entity to which the information is transferred.

					<h3 class="title-segment">
						Information Disclosed for Our Protection and the Protection of Others:
					</h3>
					We also reserve the right to access, read, preserve, and disclose any information as it reasonably believes is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce our Terms of Service, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect our rights, property or safety, our users and the public. This includes exchanging information with other companies and organizations for fraud protection and spam/malware prevention.

					<h3 class="title-segment">
						Information We Share With Your Consent:
					</h3>
					In addition to the types of sharing Personal Information described above, we may share your information with third parties with your consent, by notifying you of the sharing and giving you the opportunity to prevent the sharing of your information.
                </div>

                <h2 class="title-paragraph">
                	Security
                </h2>
                <div class="paragraph">
                	Your Account information will be protected by a password for your privacy and security. You need to help prevent unauthorized access to your Account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer and browser by signing off after you have finished accessing your Account.
                	<br><br>
					We seek to protect Account information to ensure that it is kept private; however, we cannot guarantee the security of any Account information. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time.
					<br><br>
					We otherwise store all of our information, including your IP address information, using techniques reasonably designed to secure the information. We do not guarantee or warrant that such techniques will prevent unauthorized access to information about you that we store, Personal Information or otherwise.
                </div>

                <h2 class="title-paragraph">
                	Access to Information
                </h2>
                <div class="paragraph">
                	If you are a registered user, you can access information associated with your Account by logging into the Services. Registered and unregistered users can access and delete cookies through their web browser settings.
                	<br><br>
					The Privacy Policy also explains the privacy choices you have when using the Services, including with respect to cookies, marketing emails, targeted advertising, location data and the sharing of your information by NewsWall.
					<br><br>
					You can use many of the features of the Services without registering, thereby limiting the types of Personal Information that we collect.
					<br><br>
					If you would like to delete your Account, please note that we will need to verify that you have the authority to delete the Account, and activity generated prior to deletion will remain stored by us and may be publicly accessible.
                </div>

                <h2 class="title-paragraph">
                	Changes to this Privacy Policy
                </h2>
                <div class="paragraph">
                	We may amend this Privacy Policy from time to time, at our sole discretion. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes to the Privacy Policy, we will notify you by posting an announcement on our website so you are always aware of what information we collect, how we use it, and under what circumstances if any, it is disclosed.
                </div>


                <div class="paragraph" style="display:none;">
                	Please <a href="/about/report" target="_blank" style="color: #61817a; text-decoration: underline;">Contact US</a> to pose any questions regarding Privacy Policy or the Service.
                </div>

            </div>
        </div>
    </article>
