.icon_user {
	width: 20px;
	height: 20px;
	background-position: 0 -835px;
}

.icon_sprites_retina, .icon_arrow, .icon_arrow_hover, .icon_card, .icon_card_hover, .icon_delete, .icon_delete2, .icon_delete_hover, .icon_doc, .icon_doc2, .icon_doc3, .icon_doc3_hover, .icon_dollar, .icon_dollar3, .icon_dollar_hover, .icon_edit, .icon_edit2, .icon_edit2_hover, .icon_email, .icon_error, .icon_eye, .icon_fb, .icon_filter, .icon_filter_hover, .icon_follow, .icon_follow_hover, .icon_hongbao, .icon_hongbao2, .icon_image, .icon_issue, .icon_issue2, .icon_like, .icon_like2, .icon_like2_hover, .icon_list, .icon_list_hover, .icon_lock, .icon_medals, .icon_medals_hover, .icon_news, .icon_news2, .icon_news2_hover, .icon_note, .icon_note2, .icon_note3, .icon_note4, .icon_params, .icon_params2, .icon_params2_hover, .icon_ranking, .icon_repeat, .icon_repeat2, .icon_repeat_hover, .icon_right, .icon_search, .icon_setting, .icon_setting_hover, .icon_talk, .icon_user, .icon_user2, .icon_user3, .icon_user3_hover, .icon_warning, .icon_warning_hover, .icon_werepushing {
	background-image: url('/images/icon.png');
	-moz-background-size: 30px auto;
	-o-background-size: 30px auto;
	-webkit-background-size: 30px auto;
	background-size: 30px auto;
}

.ui_icon {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	text-indent: -999em;
	overflow: hidden;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
