#body {
	font-family: Helvetica, "Heiti TC", "Microsoft JhengHei", "Microsoft YaHei","微软雅黑", "新細明體", "PMingLiU", sans-serif, Arial;
}

#header {
	padding-top: 50px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;	//footer text color

	margin-bottom: 18px;

	div {
		display: inline-block;
		*display: inline;
	}

	.copyright {
		float: left;
	}

	ul {
		float: right;
		list-style-type: none;
		li {
			display: inline;
		}
	}
}

#cookie_accept {
	padding-top: 20px;
}

#cookie_accept p {
	color: #ffffff;
}

img.img-logo {
	@extend .img-responsive;
	height: 100%;
}

.post-from {
	color: #bbb;

	.author {
		font-style: italic;
		color: #888;
	}

	a {
		color: #888;
	}
}

#all-tags {
	@extend .navbar-inverse;
	li a {
		color: #9d9d9d;
	}
	li a:hover {
		color: #fff;
    background-color: transparent;
	}
}

#lang-bar {
	margin-left: 20px;
	margin-right: 20px;
	a {
		//padding: 	5px;
		//margin: 	5px;
		font-weight: bold;
		//border:1px solid #ddd;
		//text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}
}

#flash-messages {
	margin-top: 18px;
}
