#header {
	padding-top: 50px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

#cookie_accept {
	padding-top: 20px;
}

#cookie_accept p {
	color: #ffffff;
}

img.img-logo {
	@extend .img-responsive;
	height: 100%;
}

.blog {
	margin-top: 20px;

	.blog-from {
		color: #BBBBBB;
		margin-top: 15px;
	}

	.blog-item {
		margin-bottom: 40px;

		img {
			width: 100%;
			height: auto;
			max-height: 300px;
			overflow: hidden;
		}

		.title {
			width: 100%;
			font-size: 16pt;
			color: #222;
			display: block;
		}

		$blog-item-color: rgba(0,0,0,0.7);

		:hover > img {
			opacity: 0.8;
	    filter: alpha(opacity=80);
		}

		:hover > .title {
			color: #fff;
			background: $blog-item-color;
		}

	}

}

.fb-like {
	margin-top: 15px;
}


.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 100%;
	width: 0;
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(100,100,100);
	background-color: rgba(0,0,0, 0.5);
	overflow-x: hidden;
	/* Disable horizontal scroll */
	transition: 0.2s;
}

.post {
	font-size: 17px;
	line-height: 2;
	color: #333;
}

.share {
	display: block;
	margin-bottom: 20px;
}

.img-post {
	@extend .img-responsive;
	display: block;
}
